# Ignorar entornos virtuales
.venv/
gym-assistant-env/
*.pyc
__pycache__/
vector_store/

# Ignorar archivos de configuración con claves API
config.yaml
.env

# Otros archivos del sistema
.DS_Store
.vscode/
